// Cover for unscaled content handoff
#container::before {
	background-image: url("../../launch/404.01.png");
}

.clock.glyph tspan {
	font-size: 48.6px;
	height: 34px;
	letter-spacing: -2.50px !important;
}

.feedback {
	transition: opacity 0.8s cubic-bezier(.54,.01,.64,.93);
}

.feedback, .feedback * {
	fill: #E9E5FF;
}

