<!DOCTYPE html>
<html lang="en" style="width: 320px; height: 480px; background: #000">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/402.06/402.06.css">
    
    <link
      rel="apple-touch-startup-image"
      media="screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)"
      href="launch/402.06.png"
    />
    
    <title>402.06</title>
    
  </head>
  <body>
    <div id="container" class="root">
      <div id="events">
        
      <button class="bridge bridge--y0" onclick="window.location.reload();"></button>
      <button class="bridge bridge--y1" onclick="window.location.reload();"></button>
      <button class="bridge bridge--y2"></button>
      <button class="bridge bridge--y3"></button>
      <button class="bridge bridge--y4"></button>
            
      <!-- Target areas. Convert from SVG to buttons. -->
      <button class="target full" style="left: 2px; top: 0px; width: 316px; height: 480px"></button>
      
      
      <div class="svgs">
        <svg width="320" height="480" viewBox="0 0 320 480" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" font-family="TASAOrbiterDeck-SemiBold, TASA Orbiter Deck" font-weight="500"><text font-size="182.35" letter-spacing="-5.212" fill="#FFF">
          <tspan x="5.36" y="149" id="clock__hours"></tspan>
        </text><text font-size="182.35" letter-spacing="-5.212" fill="#FFF">
          <tspan x="106.95" y="290" id="clock__minutes"></tspan>
        </text><text font-size="86.76" letter-spacing="-0.285" fill="#FFF">
          <tspan font-family="TASAOrbiterDeck-Bold, TASA Orbiter Deck" x="15" y="381" id="clock__weekday"></tspan>
        </text><text font-size="86.76" letter-spacing="-0.285" fill="#FFF">
          <tspan font-family="TASAOrbiterDeck-Bold, TASA Orbiter Deck" x="15" y="456" id="clock__month"></tspan>
        </text><text font-size="86.76" letter-spacing="-0.46" fill="#FFF">
          <tspan font-family="TASAOrbiterDeck-Bold, TASA Orbiter Deck" x="208" y="456" id="clock__day"></tspan>
        </text></g></svg>
      </div>
    </div>
    </div>
    
    <script>
      
    </script>
    <script src="js/main.js"></script>
    
  </body>
</html>
      